#* @vtlvariable name="Ctx" type="net.mnlds.messing.chroniclectx.Ctx" *#
#parse("common/RecCommon.vm")
package $Ctx.Package;

import net.openhft.lang.io.Bytes;
import net.openhft.lang.io.serialization.BytesMarshallable;

public class ReadWriteRecImpl implements ReadWriteRec, BytesMarshallable
{
#ivarDecl( $Ctx )

    ReadWriteRecImpl(){}
    ReadWriteRecImpl( int i )
    {
#ivarInit( $Ctx )
    }

#gettersImpl( $Ctx )

#settersImpl( $Ctx )

#rwMarshallable( $Ctx )
}
